.company-container {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0% 5% 40px 5%;
}

.company-100vw {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.company-container .top-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5em;
  padding-top: 40px;
}

@media (max-width: 1253px) {
  .company-container .top-container {
    margin: auto;
    justify-content: center;
  }
}

.fact-sheet-r {
    display: none;
  }

  @media (max-width: 1217px) {
    .fact-sheet-r {
      display: block;
      position: relative;
      height: 250px;
      width: 360px;
      max-width: 360px;
      border-radius: 5px;
      overflow: hidden;
    }
  }

  @media (max-width: 1217px) {
    .company-container .bottom-container {
      display: none;
    }
  }

@media (max-width: 1240px) {
  .company-container .top-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* trash

.top-container .top-pictures{
    height: 250px;
    min-width: 250px;
    max-width: 350px;
    position: relative;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    cursor: pointer;
}

.images{
    max-width: 100%;
    height: 100%;
}

.top-pictures .images:hover{
    filter: saturate(30%) blur(2px);;
    transition: all 0.4s;
}

.top-pictures .picture-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

/*new styling attempt*/

.company-image-container {
    position:relative;
    height: 250px;
    width: 360px;
    border-radius: 5px;
    overflow: hidden;
}


@media (max-width: 1240px) {
    .company-image-container {
    }
  }



/*
  @media (max-width: 1237px) {
    .company-image-container {
      height: 150px;
      width: 216px;
    }
  }
*/

.company-image {
    float: left;
    height: 250px;
    max-width: 360px;
    background-size: cover;
}

@media (max-width: 1240px) {
    .company-image {

    }
  }


.company-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px) brightness(70%);
}

.company-image-overlay:hover {
    backdrop-filter: unset;
    transition: all 0.3s;
    cursor: pointer;
}
/* border test
.company-image-overlay:hover{
    border: solid #4c8930 1px;
    transition: none;
    border-radius: 5px;
}
*/

.company-image-overlay:hover .company-image-text{
    font-size: 29px;
    transition: all 0.3s;
}

.company-image-text {
    color: white;
    font-family: "Mukta Malar", sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 2px #000000;
    text-decoration: none;
    padding: 0.5em 1em;
}

/*BOTTOM-CONTENT CONTAINER STARTS HERE.*/
/*BOTTOM-CONTENT CONTAINER STARTS HERE.*/
/*BOTTOM-CONTENT CONTAINER STARTS HERE.*/

.bottom-container{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-top: 40px;
    /*background-color: blue;*/
}




.bottom-content-container{
    display: flex;
    /*background-color: red;*/
}

.fact-sheet-r{
  position:relative;
  height: 250px;
  width: 360px;
  max-width: 360px;
  border: 1px solid rgb(196, 193, 193);
  border-radius: 5px;
  overflow: hidden;
}

/*RESPONSIVE VERSION*/
.bottom-content-container-r{
  display: flex;
  padding: 0 15px 0 15px;
}

.bottom-content-block{
    display: flex;
    align-items: center;
}

/*RESPONSIVE VERSION*/
.bottom-content-block-r{
  display: flex;
  align-items: center;
}

.numbers-block{
    height: 200px;
}


.animated-number{
    font-size: 80px;
    letter-spacing: -2px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    margin-top: 35px;
    min-width: 167px;
}

/*RESPONSIVE VERSION*/
.animated-number-r{
  display: flex;
  font-weight: 250;
  font-size: 50px;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.number-text{
    min-height: 50%;
    font-weight: 450;
    font-size: 25px;
    display: flex;
    margin-top: -30px;
}

/*RESPONSIVE VERSION*/
.number-text-r{
  font-weight: 250;
  font-size: 25px;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
}


.client-image{
    width: 95px;
    padding-right: 30px;
    padding-bottom: 10px;
}

/*RESPONSIVE VERSION*/
.client-image-r{
  width: 55px;
  padding-right: none;
  padding-bottom: none;
}

.fact-sheet-block-r{
  height: 250px;
}


.content-block-image-container-r{
  display: flex;
  align-items: center;
}