.content {
    height: 40vh;
}
.content .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.content .search-button{

    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    border-style: none;
    border-radius: 4px;
    color: white;
    align-items: 'center';
    justify-content: 'center';
    padding: 4px 13px;
    background-color: #4c8930;
    cursor: pointer;
}

.search-button:hover{
    background-color: #509d2c;
    -webkit-transition: background-color 0.5s ease-in;
    -moz-transition: background-color 0.5s ease-in;
    -o-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}

.content .search-button:hover .button-text{
    transform: scale(1.02);
    transition: 0.25s;
}

/*.hero:hover :not(.hero-content){
    filter: saturate(30%) blur(2px);;
    transition: all 0.4s;
}*/