.navbar {
    justify-content: center;
    padding: 10px 5% 10px 5%;
}

.navbar-100vw {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

.navbar-content{
    display: flex;

    align-items: center;
}




.logo_liana{
    width: 160px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    overflow: hidden;
}
.navbar .navbar-text{
    font-size: 17px;
    font-weight: 300;
    color: rgb(108, 108, 108);
    display: flex;
    flex-grow: 1;
    gap: 1em;
    margin-left: 7%;
}

.navbar-content .text-style:hover{
    color: #4c8930;
    cursor:pointer;
}

.navbar-input{
    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    border-style: none;
    border: solid grey 1px;
    border-radius: 4px;
    padding-left: 0.7em;
    height: 29px;

}

/* BUTTON STYLING FOR COPY // Copied 27.02. 01:00*/

.navbar .search-button{

    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
    border-style: none;
    border-radius: 4px;
    color: white;
    padding: 3px 13px;
    margin-left: 8px;
    background-color: #4c8930;
    cursor: pointer;
}

/*text transform doesn't look so good with such a small font

.navbar .search-button:hover .button-text{
    transform: scale(1.03);
    transition: 0.25s;
*/

@media (max-width: 757px) {
    .text-style {
        display: none;
    }
}


@media (max-width: 497px) {
    .logo_liana {
        width: 130px;
    }
}

