.footer-container {
    /*background-color: black;*/
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    height: 250px;
    background-color: black;
    color: white;
}

.footer-100vw {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

@media (max-width: 600px) {
    .footer-container {
        height: fit-content;
    }
  }

.footer-header{
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .footer-header {
        display: none;
    }
  }

.footer-container .footer-top{
    font-size: 16.5px;
    font-weight: 300;
    color: white;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .footer-container .footer-top {
        display: flex;
        justify-content: center;
    }
  }

.footer-container .footer-top .footer-top-links{
    display:flex;
    gap: 1em;
}


.footer-bottom-links{

    display: flex;
    align-items: flex-end;
    padding-top: 20px;

}

@media (max-width: 600px) {
    .footer-bottom-links {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
  }

.footer-contact{
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 600px) {
    .footer-contact {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    }
  }

.footer-contact .contact-header{
    font-size: 14px;
    font-weight: 600;

}

.footer-contact .squeeze{
    margin-top: -5px;
}
.footer-contact .squeeze2{
    margin-top: -5px;
    margin-bottom: -5.5px;
}

.button-div{
    display: flex;
    flex-grow: 1;
    margin-left: 5%;
}

@media (max-width: 600px) {
    .footer-bottom-links .button-div {
    margin: 0%;
    padding-bottom: 30px;
    padding-top: 30px;
    }
  }

.footer-socials{
    margin-bottom: -12.2px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .footer-bottom .footer-socials {
    
    }
  }

  @media (max-width: 600px) {
    .footer-socials .footer-img {
        width: 36px;
        padding: 0px 5px 0px
    }
  }

.footer-button{

    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
    border-style: none;
    border-radius: 4px;
    color: white;
    align-items: 'center';
    justify-content: 'center';
    padding: 3px 13px;
    background-color: #4c8930;
    cursor: pointer;
}

.footer-button:hover{
    background-color: #509d2c;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.footer-text-links:hover{
    color: #4c8930;
    cursor: pointer;
}

/*text transform doesn't look so good with such a small font

.footer-button:hover .button-text{
    transform: scale(1.03);
    transition: 0.25s;
} */



/* BUTTON STYLING FOR COPY // Copied 27.02. 00:57

.content .search-button{

    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    border-style: none;
    border-radius: 4px;
    color: white;
    align-items: 'center';
    justify-content: 'center';
    padding: 4px 13px;
    background-color: #4c8930;
    cursor: pointer;
}

.search-button:hover{
    background-color: #509d2c;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.content .search-button:hover .button-text{
    transform: scale(1.02);
    transition: 0.25s;

*/