
*{
  margin: 0;
  padding: 0 calc(50% - 630px);
  box-sizing: border-box;

}
.container{
  width: 100%;
  max-width: 1260px;
  min-height: 100vh;
  font-family: "Mukta Malar", sans-serif;
  font-weight: 200;
  font-style: normal;
}

 /*Button styling for copy. change size accordingly

.search-button{

    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Mukta Malar", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    border-style: none;
    border-radius: 4px;
    color: white;
    align-items: 'center';
    justify-content: 'center';
    padding: 4px 13px;
    background-color: #4c8930;
    cursor: pointer;
}

.search-button:hover{
    background-color: #509d2c;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.content .search-button:hover .button-text{
    transform: scale(1.02);
    transition: 0.25s;
}
}*/

